{% extends "base.html" %}
{% block title %}
    LavaCactus
{% endblock %}

{% block body %}

<div class="text-center bg-body-tertiary rounded-3">
    <img src="{% static 'images/logo.png' %}" class="bi mt-4 mb-3" width="100" height="100">
    <h1 class="text-body-emphasis">Welcome to Kalmykova's homework!</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
      Please give the highest score for it!
    </p>
    <div class="d-inline-flex gap-2 mb-5">
        <a class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" href="https://github.com/quillcraftsman/lavacactus/" target="_blank">Project on GitHub</a>
      <a class="btn btn-outline-secondary btn-lg px-4 rounded-pill" href="{% url '/contact.html' %}">Contact</a>
    </div>
  </div>


<div class="container">
  <!-- Example row of columns -->
  <div class="row">

    <div class="col-lg-3">
      <h2>Kalmykova's first commit</h2>
      <p>It was not so easy</p>
    </div>

    <div class="col-lg-3">
      <h2>Kalmykova's second passed homework</h2>
      <p>She hopes, it will be passed successfully</p>
    </div>

    <div class="col-lg-3">
      <h2>A bit about pets</h2>
      <p>I have 3 cats, 1 dog and 1 turtle</p>
   </div>

    <div class="col-lg-3">
      <h2>And 2 lovely children</h2>
      <p>А son and a daughter</p>
   </div>


  </div>
</div>
{% endblock %}
